<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>T2 Fan Control</vendor>
  <vendor_url>https://github.com/Endijs/omarchy-t2-fan-control</vendor_url>

  <action id="io.github.endijs.t2-fan-control.configure">
    <description>Configure T2 Mac fan control</description>
    <message>Authentication is required to change the T2 fan curve</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omarchy-t2-fan-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
